/* body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
  } */

  #div {
    /*display: flex;*/
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
    max-width: 800px;
  }

  .skill {
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
  }