<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/getvalue" method="post">
      Enter your game:
      <input type="text" name="sport">
        <li>
            ENDURANCE<br>
            <input type="number" name="feedback_text">
        </li>
        <li>
            STRENGTH<br>
            <input type="number" name="feedback_text1">
        </li>
        <li>
            POWER <br>
            <input type="number" name="feedback_text2">
        </li>
        <li>
            SPEED <br>
            <input type="number" name="feedback_text3">
        </li>
        <li>
            AGILITY <br>
            <input type="number" name="feedback_text4">
        </li>
        <li>
            FLEXIBILITY <br>
            <input type="number" name="feedback_text5">
        </li>
        <li>
            NERVE <br>
            <input type="number" name="feedback_text6">
        </li>
        <li>
            DURABILITY <br>
            <input type="number" name="feedback_text7">
        </li>
        <li>
            HAND-EYE COORDINATION <br>
            <input type="number" name="feedback_text8">
        </li>
        <li>
            ANALYTIC APTITUDE <br>
            <input type="number" name="feedback_text9">
        </li>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>