<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitSport</title>
    <link rel="stylesheet" href="../static/css/index.css">
    
</head>

<body>
    <nav id="navBar">
        <a href="{{url_for('home')}}">Home </a> &nbsp;&nbsp;
        <a href="">About </a> &nbsp;&nbsp;
        <a href="{{url_for('index')}}">Test Your Skills</a> &nbsp;&nbsp;
        <a href="">Contact </a> &nbsp;&nbsp;  
        <a href="">Feedback Form</a> &nbsp;&nbsp;                 
    </nav>
    <h1 id="title">Welcome to FitSport</h1>
    <div class="main-content">
        <form action="/getvalue" method="post">

            <div id="heading">
                <b>Enter your game:</b>
                <input type="text" name="sport">
            </div>

            <div id="text">
                How will you rate your Endurance on a scale of 1 to 10 ?<br>
                <input type="range" min="1" max="10" value="1" step="1" name="parameter1"
                    oninput="updateEndurance(this.value)">
                <!-- <br id="dontKnow"> <a class="know">Don't Know?</a> -->
                <div id="END_input">1</div>
                <a href="https://www.healthline.com/health/muscle-endurance-test#core-test" target="_blank"
                    class="know">Don't Know?</a>
            </div>

            <div id="text">
                How will you rate your Strength on a scale of 1 to 10 ?<br>
                <input type="range" min="1" max="10" value="1" step="1" name="parameter2"
                    oninput="updateStrength(this.value)">
                <div id="STR_input">1</div>
                <a href="https://www.topendsports.com/testing/strength-tests.htm" target="_blank" class="know">Don't Know?</a>
            </div>

            <div id="text">
                How will you rate your Power on a scale of 1 to 10 ?<br>
                <input type="range" min="1" max="10" value="1" step="1" name="parameter3"
                    oninput="updatePower(this.value)">
                <div id="POW_input">1</div>
                <a href="https://www.topendsports.com/testing/anaerob.htm" target="_blank" class="know">Don't Know?</a>
            </div>

            <div id="text">
                How will you rate your Speed on a scale of 1 to 10 ?<br>
                <input type="range" min="1" max="10" value="1" step="1" name="parameter4"
                    oninput="updateSpeed(this.value)">
                <div id="SPD_input">1</div>
                <a href="https://rb.gy/rn9tx" target="_blank" class="know">Don't Know?</a>
            </div>

            <div id="text">
                How will you rate your Agility on a scale of 1 to 10 ?<br>
                <input type="range" min="1" max="10" value="1" step="1" name="parameter5"
                    oninput="updateAgility(this.value)">
                <div id="AGI_input">1</div>
                <a href="https://www.physio-pedia.com/Illinois_Agility_Test" target="_blank" class="know">Don't
                    Know?</a>
            </div>

            <div id="text">
                How will you rate your Flexibility on a scale of 1 to 10 ?<br>
                <input type="range" min="1" max="10" value="1" step="1" name="parameter6"
                    oninput="updateFlexibility(this.value)">
                <div id="FLX_input">1</div>
                <a href="https://www.topendsports.com/testing/flex.htm" target="_blank" class="know">Don't Know?</a>
            </div>

            <div id="text">
                How will you rate your Nerve on a scale of 1 to 10 ?<br>
                <input type="range" min="1" max="10" value="1" step="1" name="parameter7"
                    oninput="updateNerve(this.value)">
                <div id="NVR_input">1</div>
                <a href="https://www.hopkinsmedicine.org/health/treatment-tests-and-therapies/nerve-conduction-studies"
                    target="_blank" class="know">Don't Know?</a>
            </div id="text">

            <div id="text">
                How will you rate your Durability on a scale of 1 to 10 ?<br>
                <input type="range" min="1" max="10" value="1" step="1" name="parameter8"
                    oninput="updateDurability(this.value)">
                <div id="DUR_input">1</div>
                <a href="#" class="know">Don't Know?</a>
            </div>

            <div id="text">
                How will you rate your Hand-Eye Coordination on a scale of 1 to 10 ?<br>
                <input type="range" min="1" max="10" value="1" step="1" name="parameter9"
                    oninput="updateHAN(this.value)">
                <div id="HAN_input">1</div>
                <a href="https://www.topendsports.com/testing/tests/wall-catch.htm" target="_blank" class="know">Don't
                    Know?</a>
            </div>

            <div id="text">
                How will you rate your Analytic Aptitude on a scale of 1 to 10 ?<br>
                <input type="range" min="1" max="10" value="1" step="1" name="parameter10"
                    oninput="updateANA(this.value)">
                <div id="ANA_input">1</div>
                <a href="https://aryng.com/analytics-aptitude-test" target="_blank" class="know">Don't Know?</a>
            </div>
            <br>
            <button type="submit">Submit</button>
        </form>

    </div>

    <script src = "../static/js/index.js"></script>
</body>

</html>
